* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image:url('../Imagens/Fundo.jpg');
    background-size:auto 100vh;
    height:100vh;
    font-family:arial;
    margin:0px;
  font-size: 10px;
  }

@media (min-width:400px) {
  body {
  font-size: 14px;
  }
}

@media (min-width:700px) {
  body {
  font-size: 18px;
  }
}

header {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.menu {
    background-color:whitesmoke;
    position: fixed;
    width: 100vw;
    top: 0;
  }
  
.menu ul{
    display:flex;
    justify-content: space-around;
  }
  
  .menu li{
    list-style: none
  }
  
.menu a {
  display: block;
  background-color: tomato;
  padding: 20px 20px;
}

  a{
    color:rgb(128, 79, 0);
    text-decoration: none;
  }
  
  a:haver{
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title {
    color:	#4D1546;
    text-align:center;
  }

  .site-title {
  font-size: 4em;
  }

  .img-portfolio {
    height: 180px;
    width: 180px;
  }